body{
    min-height: 300px;
  }
  
  .container{
    display: grid;
    color: white;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: "header header" "aside main" "footer footer";
  }
  
  header{
    background-color: darkred;
    grid-area: header;
    border: 2px solid #0000ff;
    box-shadow: -12px -12px -12px #000000;
  }
  
  aside{
    background-color: darkgreen;
    grid-area: aside;
  }
  
  main{
    background-color: darkorange;
    grid-area: main;
    height: 200px;
  }
  
  footer{
    background-color: darkblue;
    grid-area: footer;
  }